<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script>
    var app = angular.module('app', [])
        .controller('ctl', function ($http, $scope) {

            $scope.drawCards = function (cardCount) {
                $http.get('https://deckofcardsapi.com/api/deck/new/draw/?count=' + cardCount)
                    .then(function (response) {
                        var data = response.data;
                        $scope.data = data;
                        $scope.cards = data.cards;
                    });
            }
        })
</script>
<http>

    <head>
        <style>
            .card-stack img {
                display: inline;
            }
        </style>
    </head>

    <body ng-app="app" ng-controller="ctl">
        <p>
            <span ng-bind="cardCount"></span>
            <input type="range" min=1 max=52 ng-model="cardCount">
            <button ng-click="drawCards(cardCount)">Draw</button>
            <!-- <pre ng-bind="data | json"></pre> -->
        </p>
        <p class="card-stack">
            <img class="card" ng-repeat="card in cards" ng-src="{{card.image}}">
        </p>
    </body>
</http>