<html>

<head>
    <title>GPS Coordinate Test</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta name="theme-color" content="#000000">

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Semantic UI  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <!-- AngularjJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.0/lodash.min.js"></script>

    <!-- Mapbox GL JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css' rel='stylesheet' />

    <!--Begin SignalR Block-->
    <script type="text/javascript" src="https://webservices.nisd.net/scripts/jquery.signalR-2.2.2.min.js"></script>
    <script type="text/javascript" src="https://webservices.nisd.net/signalr/hubs"></script>
    <script type="text/javascript" src="https://webservices.nisd.net/scripts/ws-connection.js"></script>

    <style>
        .right.floated {
            float: right !important;
        }

        .pusher {
            padding-top: 40px;
        }
    </style>
</head>

<body class="ui" ng-app="app" ng-controller="locations">
    <script type="text/ng-template" id="locationMenu.html">
        <div class="menu">
            <a class="item" ng-click="flyTo(location)" ng-repeat="location in locations | orderBy: ['distance', 'name'] track by location.location"
                ng-class="{ 'active': location.distance < 0.1 }">
                <div class="content">
                    <div class="right floated">
                        <span ng-show="location.distance" ng-bind="(location.distance | number:2) + ' mi.'"></span>
                        <i class="arrow up icon" ng-show="location.bearing" ng-style="{ 'transform': 'rotate(' + location.bearing + 'deg)' }"></i>
                    </div>
                    <span class="header" ng-bind="location.name"></span>
                </div>
            </a>
        </div>
    </script>
    <div class="ui top inverted fixed menu">
        <a class="item toggle-sidebar">
            <i class="ui content icon"></i>
        </a>
        <a class="item" ng-click="loadLocations()">Load Locations</a>
        <div class="right menu">
            <a class="item" ng-show="coords" ng-click="flyTo(coords)" ng-bind="(coords.latitude | number: 6) + ', ' + (coords.longitude | number: 6)"></a>
        </div>
    </div>
    <div class="ui left vertical inverted sidebar menu" style="width: 360px">
        <div class="item toggle-sidebar">
            <h3 class="header">Locations</h3>
            <location-menu></location-menu>
        </div>
    </div>
    <div class="pusher">
        <div id="map" style="height: calc(100vh - 40px);"></div>
    </div>
</body>

</html>
<script type="text/javascript" src="geolocation.js"></script>
<script>
    var app = angular.module('app', [])
        .directive('locationMenu', function () {
            return {
                replace: true,
                templateUrl: 'locationMenu.html'
            }
        })
        .controller('locations', function ($http, $scope) {
            updateLocations = function (locations, origin) {
                if (origin) {
                    _.each(locations, function (location) {
                        // update bearing
                        location.bearing = Math.ceil(getBearing(origin.latitude, origin.longitude,
                            location.latitude, location.longitude));

                        // update distance
                        location.distance = getDistance(origin.latitude, origin.longitude,
                            location.latitude, location.longitude);
                    })
                }
            }

            $scope.flyTo = function (center) {
                mapbox.flyTo({
                    center: [center.longitude, center.latitude],
                    zoom: 16
                });
            };

            $scope.loadLocations = function () {
                $http.get('https://josuedlt.github.io/scripts/locations.json')
                    .then(function (response) {
                        var locations = response.data;
                        updateLocations(locations, $scope.coords);

                        geo_locations = {
                            'type': 'FeatureCollection',
                            'features': _.map(locations, function (l) {
                                return {
                                    'type': "Feature",
                                    'properties': {
                                        //'marker-symbol': 'school',
                                        'title': l.name
                                    },
                                    'geometry': {
                                        'type': "Point",
                                        'coordinates': [l.longitude, l.latitude]
                                    }
                                }
                            })
                        };

                        // Add locations as a source
                        if (!mapbox.getSource('markers'))
                            mapbox.addSource('markers', {
                                'type': 'geojson',
                                'data': geo_locations
                            });
                        else
                            mapbox.getSource('markers').setData(geo_locations);

                        // Add marker layer with new source
                        if (!mapbox.getLayer('markers-layer')) {
                            mapbox.addLayer({
                                "id": 'markers-layer',
                                "type": 'symbol',
                                "source": 'markers',
                                "layout": {
                                    "icon-image": "{marker-symbol}-15",
                                    "icon-size": 1,
                                    "text-field": "{title}",
                                    "text-font": [
                                        "Open Sans Semibold",
                                        "Arial Unicode MS Bold"
                                    ],
                                    "text-offset": [0, 0.6],
                                    "text-anchor": "top",
                                    "text-size": 10
                                },
                                "paint": {
                                    "text-color": '#888888'
                                }
                            });

                            // Trap click events on marker layer
                            mapbox.on('click', 'markers-layer', function (e) {
                                new mapboxgl.Popup()
                                    .setLngLat(e.features[0].geometry.coordinates)
                                    .setHTML(e.features[0].properties.title)
                                    .addTo(mapbox);
                            });
                        }

                        // Fit markers to view
                        var latitudes = _.map(locations, 'latitude');
                        var longitudes = _.map(locations, 'longitude');
                        mapbox.fitBounds([
                            [_.min(longitudes), _.min(latitudes)],
                            [_.max(longitudes), _.max(latitudes)]
                        ], {
                            padding: 40
                        });

                        $scope.locations = locations;
                    })
            };

            geolocate.on('geolocate', function (e) {
                var coords = e.coords;
                updateLocations($scope.locations, coords);
                $scope.coords = coords;
                $scope.flyTo(coords);
                $scope.$apply();
            })


            // Configure map
            mapbox.on('load', function () {
                $scope.loadLocations();
                updateSignalRMap($scope.connections);
            })

            // SignalR Connections Hub - Client
            updateSignalRMap = function (connections) {
                signalRGeoJson = {
                    'type': 'FeatureCollection',
                    'features': _.map(_.filter(connections, 'Position'), function (c) {
                        return {
                            'type': "Feature",
                            'properties': {
                                'title': c.RequestCookies.name.Value,
                                'marker-symbol': 'star'
                            },
                            'geometry': {
                                'type': "Point",
                                'coordinates': [c.Position.Longitude, c.Position.Latitude]
                            }
                        }
                    })
                }

                // Configure source
                if (!mapbox.getSource('signalR'))
                    mapbox.addSource('signalR', {
                        'type': 'geojson',
                        'data': signalRGeoJson
                    });
                else
                    mapbox.getSource('signalR').setData(signalRGeoJson);

                // Configure layer
                if (!mapbox.getLayer('signalR-layer')) {
                    mapbox.addLayer({
                        "id": 'signalR-layer',
                        "type": 'symbol',
                        "source": 'signalR',
                        "layout": {
                            "icon-image": "{marker-symbol}-15",
                            "icon-size": 1,
                            "text-field": "{title}",
                            "text-font": [
                                "Open Sans Semibold",
                                "Arial Unicode MS Bold"
                            ],
                            "text-offset": [0, 0.6],
                            "text-anchor": "top",
                            "text-size": 10
                        },
                        "paint": {
                            "text-color": '#000000'
                        }
                    });
                }
            }

            ws_hub.client.hasConnected = function (c) {
                if (c.ConnectionId == ws_con.id) {
                    $scope.id = ws_con.id;
                    ws_hub.server.getConnections().done(function (connections) {
                        $scope.connections = connections;
                        $scope.$apply();

                        updateSignalRMap($scope.connections);
                    });
                } else {
                    var i = _.indexOf(_.map($scope.connections, 'ConnectionId'), c.ConnectionId)
                    if (i > -1) $scope.connections[i] = c;
                    else $scope.connections.push(c);
                    $scope.$apply();

                    updateSignalRMap($scope.connections);
                }
            };

            ws_hub.client.hasDisconnected = function (c) {
                if (c.ConnectionId == ws_con.id) {

                } else {
                    var i = _.indexOf(_.map($scope.connections, 'ConnectionId'), c.ConnectionId);
                    if (i > -1) $scope.connections.splice(i, 1);
                }
                $scope.$apply();

                updateSignalRMap($scope.connections);
            };

            ws_hub.client.hasUpdatedPosition = function (c, p) {
                var i = _.indexOf(_.map($scope.connections, 'ConnectionId'), c.ConnectionId)
                if (i > -1) $scope.connections[i].Position = p;
                $scope.$apply();

                updateSignalRMap($scope.connections);
            }
        })

    // Populate map
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zdWVkbHQiLCJhIjoiY2l5a3hwcGFzMDAxdjJ4czd0dW1nNnpvbiJ9.118F1NOgT72aFsmG99qPYQ';
    var mapbox = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: [-98.5, 29.43],
        zoom: 8
    });

    var geolocate = new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    });
    mapbox.addControl(geolocate);

    $('.sidebar')
        .sidebar('setting', 'transition', 'overlay')
        .sidebar('attach events', '.toggle-sidebar');
</script>