<html>

<head>
    <title>GPS Coordinate Test</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta name="theme-color" content="#000000">

    <!-- jQuery + Semantic UI-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <!-- AngularjJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.0/lodash.min.js"></script>

    <!-- Mapbox GL JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css' rel='stylesheet' />

    <script src="angular-geolocation.js"></script>

    <script>
        var app = angular.module('app', ['ngGeolocation'])
            .directive('mapbox', function () {
                // Internal functions...
                getBearing = function (lat1, lon1, lat2, lon2) {
                    function radians(n) {
                        return n * (Math.PI / 180);
                    }

                    function degrees(n) {
                        return n * (180 / Math.PI);
                    }

                    lat1 = radians(lat1);
                    lon1 = radians(lon1);
                    lat2 = radians(lat2);
                    lon2 = radians(lon2);

                    var dLong = lon2 - lon1;

                    var dPhi = Math.log(Math.tan(lat2 / 2.0 + Math.PI / 4.0) / Math.tan(lat1 / 2.0 +
                        Math.PI /
                        4.0));
                    if (Math.abs(dLong) > Math.PI) {
                        if (dLong > 0.0)
                            dLong = -(2.0 * Math.PI - dLong);
                        else
                            dLong = (2.0 * Math.PI + dLong);
                    }

                    return (degrees(Math.atan2(dLong, dPhi)) + 360.0) % 360.0;
                }

                getBounds = function (locations) {
                    var latitudes = _.map(locations, 'latitude');
                    var longitudes = _.map(locations, 'longitude');

                    return [
                        [_.min(longitudes), _.min(latitudes)],
                        [_.max(longitudes), _.max(latitudes)]
                    ]
                };

                getDistance = function (lat1, lon1, lat2, lon2) {
                    var p = 0.017453292519943295; // Math.PI / 180
                    var c = Math.cos;
                    var a = 0.5 - c((lat2 - lat1) * p) / 2 +
                        c(lat1 * p) * c(lat2 * p) *
                        (1 - c((lon2 - lon1) * p)) / 2;

                    return 12742 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km
                };

                getGeoJSON = function (locations) {
                    return {
                        'type': 'FeatureCollection',
                        'features': _.map(locations, function (l) {
                            return {
                                'type': "Feature",
                                'properties': {
                                    //'marker-symbol': 'school',
                                    'title': l.name
                                },
                                'geometry': {
                                    'type': "Point",
                                    'coordinates': [l.longitude, l.latitude]
                                }
                            }
                        })

                    }
                };

                updateLocations = function (locations, origin) {
                    if (origin) {
                        _.each(locations, function (location) {
                            // update bearing
                            location.bearing = Math.ceil(getBearing(origin.latitude, origin
                                .longitude,
                                location.latitude, location.longitude));

                            // update distance
                            location.distance = getDistance(origin.latitude, origin.longitude,
                                location.latitude, location.longitude);
                        })
                    }
                    return locations;
                }

                return {
                    controller: function ($attrs, $http, $scope, GeoFactory) {
                        // Initialize map
                        mapboxgl.accessToken =
                            'pk.eyJ1Ijoiam9zdWVkbHQiLCJhIjoiY2l5a3hwcGFzMDAxdjJ4czd0dW1nNnpvbiJ9.118F1NOgT72aFsmG99qPYQ';
                        var mapbox = new mapboxgl.Map({
                            container: $attrs["id"],
                            style: 'mapbox://styles/mapbox/streets-v10',
                            center: [-98.5, 29.43],
                            zoom: 8
                        });

                        mapbox.on('load', function () {
                            $http.get('https://josuedlt.github.io/scripts/locations.json')

                                .then(function (response) {
                                    var locations = response.data;
                                    updateLocations(locations, $scope.position);

                                    // Add locations as a source
                                    if (!mapbox.getSource('markers'))
                                        mapbox.addSource('markers', {
                                            'type': 'geojson',
                                            'data': getGeoJSON(locations)
                                        });
                                    else
                                        mapbox.getSource('markers').setData(getGeoJSON(locations));

                                    // Add marker layer with new source
                                    if (!mapbox.getLayer('markers-layer')) {
                                        mapbox.addLayer({
                                            "id": 'markers-layer',
                                            "type": 'symbol',
                                            "source": 'markers',
                                            "layout": {
                                                "icon-image": "{marker-symbol}-15",
                                                "icon-size": 1,
                                                "text-field": "{title}",
                                                "text-font": [
                                                    "Open Sans Semibold",
                                                    "Arial Unicode MS Bold"
                                                ],
                                                "text-offset": [0, 0.6],
                                                "text-anchor": "top",
                                                "text-size": 10
                                            },
                                            "paint": {}
                                        });

                                        // Trap click events on marker layer
                                        mapbox.on('click', 'markers-layer', function (e) {
                                            new mapboxgl.Popup()
                                                .setLngLat(e.features[0].geometry.coordinates)
                                                .setHTML(e.features[0].properties.title)
                                                .addTo(mapbox);
                                        });
                                    }

                                    // Fit markers to view
                                    mapbox.fitBounds(getBounds(locations), {
                                        padding: 40
                                    });

                                    $scope.locations = locations;
                                })

                        })

                        function newPosition(position) {
                            mapbox.flyTo({
                                center: [position.longitude, position.latitude],
                                zoom: 16
                            });

                            $scope.position = position;
                            updateLocations($scope.locations, $scope.position);
                            $scope.$apply();
                        }

                        GeoFactory.subscribe(newPosition);
                        $scope.geo = GeoFactory;
                        GeoFactory.start();

                        $scope.flyTo = function (center) {
                            mapbox.flyTo({
                                center: [center.longitude, center.latitude],
                                zoom: 16
                            });
                        };
                    }
                }
            })
    </script>
    <style>
        .pusher {
            padding-top: 40px;
        }
    </style>
</head>

<body ng-app="app">
    <div class="ui left vertical inverted sidebar menu" style="width: 360px">
        <div class="item toggle-sidebar">
            <h3 class="header">Locations</h3>
            <div class="menu">
                <a class="item" ng-click="flyTo(location)" ng-repeat="location in locations | orderBy: ['distance', 'name'] track by location.location"
                    ng-class="{ 'active': location.distance < 0.1 }">
                    <div class="content">
                        <div style="float: right;">
                            <span ng-show="location.distance" ng-bind="(location.distance | number:2) + ' mi.'"></span>
                            <i class="arrow up icon" ng-show="location.bearing" ng-style="{ 'transform': 'rotate(' + location.bearing + 'deg)' }"></i>
                        </div>
                        <span class="header" ng-bind="location.name"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="pusher">
        <div class="ui top inverted fixed menu">
            <a class="item toggle-sidebar">
                <i class="ui content icon"></i>
            </a>
            <div class="right menu">
                <a class="item" ng-show="position" ng-click="flyTo(position)" ng-bind="(position.latitude | number: 6) + ', ' + (position.longitude | number: 6)"></a>
            </div>
        </div>
        <div mapbox id="map" style="height: calc(100vh - 40px);"></div>
    </div>
</body>
<script>
    $('.sidebar')
        .sidebar('setting', 'transition', 'overlay')
        .sidebar('attach events', '.toggle-sidebar');
</script>

</html>