<html>

<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="u2f-api.js"></script>
    <script src="ashtuchkin-u2f.js"></script>
</head>

<body ng-app="app" u2f>
    <button ng-click="register()">Register</button>
    <button ng-click="sign()">Sign</button>
    <pre ng-bind="data | json"></pre>
</body>

<script>
    var app = angular.module('app', [])
        .directive('u2f', () => {
            return {
                link: (scope) => {

                    function make_chal() {
                        var chal = new Uint8Array(32);

                        window.crypto.getRandomValues(chal);
                        chal = btoa(String.fromCharCode.apply(null, chal)).replace(/(\/|\+)/g, 'A');

                        return chal;
                    };

                    var req = {
                        'version': 'U2F_V2',
                        'challenge': make_chal(),
                        'appId': window.location.origin
                    };

                    scope.data = {};
                    scope.register = function () {
                        window.u2f.register([req], [], function (data) {
                            if (data.errorCode) {
                                console.error("U2F Register Failed", data);
                                return;
                            }
                            alert("U2F Register Success");
                            console.log("U2F Register Success", data);
                            scope.data.register = data;

                            // see ashtuchkin-u2f.js
                            var ok = ASH.checkRegistration(req, data);
                            console.log("U2F Register Decode", ok);
                            scope.data.ok = ok;
                            scope.$apply();

                            window.REG_DATA = ok;
                        });
                    }

                    scope.sign = function () {
                        if (!window.REG_DATA) return;

                        req.keyHandle = window.REG_DATA.keyHandle;
                        window.u2f.sign([req], function (data) {
                            if (data.errorCode) {
                                console.error("U2F Sign Failed", data);
                                return;
                            }
                            alert("U2F Sign Success");
                            console.log("U2F Sign Success", data);
                            scope.data.sign = data;
                            scope.$apply();
                        });
                    }
                }
            }
        })
</script>

</html>