<html>

<head>
    <title>Armored Service</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://unpkg.com/lodash"></script>

    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/vue-router"></script>

    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <!-- Mapbox GL JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <v-app id="app" app dark>
        <v-navigation-drawer app clipped v-model="drawer">
            <v-list class="pt-0" dense>
                <v-divider></v-divider>
                <v-list-tile v-for="item in drawerItems" :key="item.title" @click="item.action()">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar absolute clipped-left color="primary" dark app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Armored Service</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn flat @click="logout()">Logout</v-btn>
        </v-toolbar>
        <div v-if="!token">
            <v-content>
                <v-container fluid>
                    <v-dialog persistent v-model="dialog" width="500">
                        <v-card>
                            <v-card-title class="headline grey darken-2" primary-title>
                                Login
                            </v-card-title>
                            <v-card-text>
                                <v-text-field label="Username" prepend-icon="person" type="text" v-model="username"></v-text-field>
                                <v-text-field label="Password" prepend-icon="lock" type="password" v-model="password"></v-text-field>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" flat type="submit" @click="login(username, password)">Submit</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-container>
            </v-content>
        </div>
        <div v-if="token">
            <mapbox />
        </div>
    </v-app>
</body>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zdWVkbHQiLCJhIjoiY2l5a3hwcGFzMDAxdjJ4czd0dW1nNnpvbiJ9.118F1NOgT72aFsmG99qPYQ';
    url = 'https://integration.nisd.net';

    var mixinAuth = {
        data: () => {
            return {
                username: '',
                password: '',
                token: '',
            }
        },
        methods: {
            login(username, password) {
                axios.post(url + '/api/User/Token', {
                        username,
                        password
                    })
                    .then(response => {
                        this.token = response.data;
                    }, error => {
                        console.log(error);
                        alert(error);
                    })
            },
            logout() {
                this.token = null;
            },
        },
        created() {
            this.token = (localStorage.token) ? JSON.parse(localStorage.token) : null
            axios.interceptors.response.use(null, function (error) {
                if (error.response.status === 401) {
                    this.token = null;
                }
                return Promise.reject(error);
            });

            this.$root.drawerItems.push({
                title: 'Logout',
                icon: 'question_answer',
                action: () => this.logout()
            });
        },
        watch: {
            token: (val) => {
                if (val) {
                    axios.defaults.headers.common['Authorization'] = `Bearer ${val}`;
                    localStorage.token = JSON.stringify(val);
                } else {
                    axios.defaults.headers.common['Authorization'] = null;
                    localStorage.removeItem('token');
                }
            }
        },
        computed: {
            dialog: function () {
                return (this.token) ? false : true
            }
        }
    }

    var mixinUserInfo = {
        data: () => {
            return {
                userInfo: '',
            }
        },
        mounted() {
            axios.get(url + '/api/User/Info')
                .then(response => {
                    this.userInfo = (response.data.Username);
                });
        },

    }

    Vue.component('mapbox', {
        data: () => {
            return {
                mapbox: Object,
                locations: [],
            }
        },
        methods: {
            fitBounds() {
                var locations = this.locations;
                var latitudes = _.map(locations, 'Latitude');
                var longitudes = _.map(locations, 'Longitude');
                this.mapbox.fitBounds([
                    [_.min(longitudes), _.min(latitudes)],
                    [_.max(longitudes), _.max(latitudes)]
                ], {
                    padding: 40
                });
            },
            plotLocations(locations) {
                mapbox = this.mapbox;

                locations.forEach(location => {
                    if (location.Name.endsWith(' ES'))
                        location.Type = 'ES';
                    else if (location.Name.endsWith(' MS'))
                        location.Type = 'MS';
                    else if (location.Name.endsWith(' HS'))
                        location.Type = 'HS'
                    else
                        location.Type = 'Other';
                })

                geo_locations = {
                    'type': 'FeatureCollection',
                    'features': _.map(this.locations, function (l) {
                        return {
                            'type': "Feature",
                            'properties': {
                                'marker-symbol': 'marker',
                                'title': l.Name,
                                'type': l.Type,
                            },
                            'geometry': {
                                'type': "Point",
                                'coordinates': [l.Longitude, l.Latitude]
                            }
                        }
                    })
                };

                // Add locations as a source
                if (!mapbox.getSource('markers'))
                    mapbox.addSource('markers', {
                        'type': 'geojson',
                        'data': geo_locations
                    });
                else
                    mapbox.getSource('markers').setData(geo_locations);

                // Add marker layer with new source
                if (!mapbox.getLayer('markers-layer')) {
                    mapbox.addLayer({
                        "id": 'markers-layer',
                        "type": 'symbol',
                        "source": 'markers',
                        "layout": {
                            "text-field": "{title}",
                            "text-font": [
                                "Open Sans Semibold",
                                "Arial Unicode MS Bold"
                            ],
                            "text-offset": [0, 1],
                            "text-anchor": "top",
                            "text-size": 10
                        },
                        "paint": {
                            "icon-color": "#842",
                            "text-color": '#ccc',
                            // "text-halo-color": "#eee",
                            // "text-halo-width": 1
                        }
                    });

                    mapbox.addLayer({
                        'id': 'circles',
                        'type': 'circle',
                        'source': 'markers',
                        'paint': {
                            // make circles larger as the user zooms from z12 to z22
                            'circle-radius': {
                                'base': 1.75,
                                'stops': [
                                    [12, 2],
                                    [20, 15]
                                ]
                            },
                            'circle-color': [
                                'match',
                                ['get', 'type'],
                                'ES', '#fbb03b',
                                'MS', '#b03bfb',
                                'HS', '#3bb0fb',
                                /* other */
                                '#888'
                            ]
                        }
                    })
                    //Trap click events on marker layer
                    mapbox.on('click', 'circles', function (e) {
                        // new mapboxgl.Popup()
                        //     .setLngLat(e.features[0].geometry.coordinates)
                        //     .setHTML(e.features[0].properties.title)
                        //     .addTo(mapbox);

                        mapbox.flyTo({
                            center: e.features[0].geometry.coordinates,
                            zoom: 16
                        });
                    });
                }
            }
        },
        created() {
            this.$root.drawerItems.push({
                title: 'Fit Bounds',
                icon: 'dashboard',
                action: () => {
                    this.fitBounds()
                }
            });
        },
        mounted() {
            mapbox = this.mapbox = new mapboxgl.Map({
                container: this.$el,
                style: 'mapbox://styles/mapbox/dark-v9/',
                center: [-98.5, 29.43],
                zoom: 10
            });

            mapbox.on('load', () => {
                axios.get(url + '/api/ArmoredService/GetLocations')
                    .then(response => {
                        this.locations = response.data;
                        this.fitBounds(this.locations);
                        this.plotLocations(this.locations);
                    });
            })
        },
        template: '<div class="fill-height"></div>',
        watch: {
            locations: (val) => {}
        }
    })

    var app = new Vue({
        el: '#app',
        data: {
            drawer: false,
            drawerItems: []
        },
        mixins: [mixinAuth],
    })
</script>

</html>
