<html ng-app='app'>

<head>
    <title>Deposit Bag Tracker</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="theme-color" content="#000000">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://webservices.nisd.net/scripts/jquery.signalR-2.2.2.min.js"></script>
    <script type="text/javascript" src="../signalr/jdlt.signalR.js"></script>

    <!-- Mapbox GL JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css' rel='stylesheet' />

    <script src="angular-nisdAuthorization.js"></script>
    <script src="angular-nisdArmoredService.js"></script>
    <script src="angular-nisdMapbox.js"></script>

    <style>
        .fixed-top {
            position: absolute;
            top: 10;
            left: 10;
            right: 10;
            z-index: 9;
        }

        body {
            margin: 0;
        }

        dl dd {
            margin-left: 8;
            font-size: smaller;
        }

        .full-height {
            height: 100%;
        }
    </style>
</head>

<body>
    <auth-form class="fixed-top">
        <form name="authForm" ng-if="!$storage.auth" ng-submit="login({username, password})">
            <input type="text" name="username" ng-model="username">
            <input type="password" name="password" ng-model="password">
            <button type="submit">Submit</button>
        </form>
    </auth-form>

    <div ng-if="$storage.auth" armored-service>
        <auth-form class="fixed-top">
            <div style="float: right; text-align: right;">
                <button ng-click="logout()">Logout</button>
                <div>
                    <dl>
                        <dd ng-repeat-start='(key, bags) in collected | groupBy: "ReceiptedBy"'>{{key}}</dd>
                        <dt ng-repeat-end>
                            <small ng-bind="bags.length"></small>
                            <span ng-bind="sumBags(bags) | currency"></span>
                        </dt>
                    </dl>
                </div>

            </div>
            <button ng-click="fitBounds()">Fit Bounds</button>
            <dl>
                <dt>Submitted:
                    <span ng-bind="submitted.length"></span>
                </dt>
                <dd ng-bind="(sumBags(submitted) | currency)"></dd>

                <dt>Collected:
                    <span ng-bind="collected.length"></span>
                </dt>
                <dd ng-bind="(sumBags(collected) | currency)"></dd>
            </dl>
        </auth-form>
        <div id="map" class="full-height"></div>
    </div>
</body>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zdWVkbHQiLCJhIjoiY2l5a3hwcGFzMDAxdjJ4czd0dW1nNnpvbiJ9.118F1NOgT72aFsmG99qPYQ';
    angular.module('app', ['angular.filter', 'ngStorage', 'nisdAuthorization', 'nisdArmoredService'])
        .directive('authForm', () => {
            return {
                controller: ($scope, LoginService) => {
                    $scope.login = LoginService.login;
                    $scope.logout = LoginService.logout;
                    $scope.getInfo = LoginService.getInfo;
                }
            }
        })

        .directive('armoredService', () => {
            return {
                controller: ($scope, ArmoredService) => {

                    // Script to map sources
                    $scope.fitBounds = () => {
                        // Fit markers to view
                        var locations = $scope.locations;
                        var latitudes = _.map(locations, 'Latitude');
                        var longitudes = _.map(locations, 'Longitude');
                        mapbox.fitBounds([
                            [_.min(longitudes), _.min(latitudes)],
                            [_.max(longitudes), _.max(latitudes)]
                        ], {
                            padding: 40
                        });
                    }

                    $scope.sumBags = function (bags) {
                        return _.reduce(bags, function (sum, bag) {
                            return sum + accounting.parse(bag.TotalAmount);
                        }, 0)
                    }

                    function mapDepositBags() {
                        var bags = $scope.submitted;
                        var locations = $scope.locations;
                        var mapbox = $scope.mapbox;

                        locations.forEach((l) => {
                            l.bags = bags.filter((b) => b.Location == l.Code + ' ' + l.Name);
                            l.bagSum = $scope.sumBags(l.bags);
                            l.bagAmount = accounting.formatMoney($scope.sumBags(l.bags));
                            l.bagGroup = (Math.ceil(l.bagSum / 1000));
                        });

                        var glSources = [{
                            'id': 'submitted',
                            'type': 'geojson',
                            'data': {
                                'type': 'FeatureCollection',
                                'features': _.map(locations, function (l) {
                                    return {
                                        'type': "Feature",
                                        'properties': {
                                            'bagCount': l.bags.length,
                                            'bagSum': l.bagSum,
                                            'bagGroup': l.bagGroup,
                                            'bagAmount': l.bagAmount,
                                            'title': l.Name
                                        },
                                        'geometry': {
                                            'type': "Point",
                                            'coordinates': [l.Longitude, l.Latitude]
                                        }
                                    }
                                })
                            }
                        }]

                        var groups = _.chain(locations)
                            .map('bagGroup')
                            .uniq()
                            .sortBy()
                            .filter(g => g > 0)
                            .value();

                        var glLayers = _.map(groups, (g) => {
                            return {
                                "id": 'submitted-' + g,
                                "type": 'symbol',
                                "source": 'submitted',
                                "filter": ["==", 'bagGroup', g],
                                "layout": {
                                    "text-anchor": "center",
                                    "text-field": "{bagAmount}",
                                    "text-offset": [0, 0],
                                    "text-size": 8 + (g / 2)
                                }
                            }
                        });

                        $scope.mapSources(glSources);
                        $scope.mapLayers(glLayers);

                    }

                    function mapCollectionRoute() {
                        var mapbox = $scope.mapbox;
                        var locations = $scope.locations;

                        var locations = _.map($scope.locations, (l) => { return { Location: l.Code + ' ' + l.Name, Position: [l.Longitude, l.Latitude] } });
                        var routes = _($scope.collected)
                            .sortBy('ReceiptedDate')
                            .groupBy('ReceiptedBy')
                            .mapValues((v) => {
                                return _.map(_.uniq(_.map(v, 'Location')), (b) => _.find(locations, (l) => { return l.Location == b }).Position);
                            })
                            .toPairs()
                            .value();

                        var glSources = _.map(routes, r => ({
                            id: r[0],
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: {
                                    type: 'LineString',
                                    coordinates: r[1]
                                }, properties: {
                                    'title': r[0]
                                }
                            }
                        }));

                        var glLayers = _.map(routes, r => {
                            return {
                                id: r[0] + '-line',
                                type: 'line',
                                source: r[0],
                                layout: {
                                    'line-join': 'round',
                                    'line-cap': 'round',
                                },
                                paint: {
                                    'line-color': '#bbb',
                                    'line-width': 1
                                }
                            }
                        });

                        var glLabels = _.map(routes, r => {
                            return {
                                id: r[0] + '-symbol',
                                type: 'symbol',
                                source: r[0],
                                layout: {
                                    'symbol-placement': 'line',
                                    'text-field': '{title}',
                                    'text-size': 10
                                },
                                paint: {
                                    'text-color': '#aaa'
                                }
                            }
                        })
                        $scope.mapSources(glSources);
                        $scope.mapLayers(glLayers);
                        $scope.mapLayers(glLabels);
                    }

                    function mapDrivers() {
                        var mapbox = $scope.mapbox;
                        var connections = $scope.connections;

                        var glSources = [{
                            'id': 'collected',
                            'type': 'geojson',
                            'data': {
                                'type': 'FeatureCollection',
                                'features': _.map(_.filter(connections, 'Position'), function (c) {
                                    var name = c.RequestCookies.name;
                                    return {
                                        'type': "Feature",
                                        'properties': {
                                            'title': c.UserHostAddress,
                                            'address': (name) ? name.Value : 'Anonymous',
                                            'host': c.Headers.Host,
                                            'referer': c.Headers.Referer,
                                            'timestamp': c.Timestamp,
                                            'marker-symbol': 'car'
                                        },
                                        'geometry': {
                                            'type': "Point",
                                            'coordinates': [c.Position.Longitude, c.Position.Latitude]
                                        }
                                    }
                                })
                            }
                        }]

                        var glLayers = [{
                            "id": 'collected-0',
                            "type": 'symbol',
                            "source": 'collected',
                            "layout": {
                                "icon-image": "{marker-symbol}-15",
                                "icon-allow-overlap": true,
                                "icon-size": 1,
                                "text-field": "{address}",
                                "text-allow-overlap": true,
                                "text-anchor": "center",
                                "text-size": 10,
                                "text-offset": [0, 1],
                            },
                            "paint": {
                                "text-color": '#842'
                            }
                        }]

                        $scope.mapSources(glSources);
                        $scope.mapLayers(glLayers);
                    }

                    mapboxgl.accessToken =
                        'pk.eyJ1Ijoiam9zdWVkbHQiLCJhIjoiY2l5a3hwcGFzMDAxdjJ4czd0dW1nNnpvbiJ9.118F1NOgT72aFsmG99qPYQ';

                    var mapbox = $scope.mapbox = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v10/',
                        center: [-98.5, 29.43],
                        zoom: 10
                    });

                    $scope.mapSources = (sources) => {
                        sources.forEach((s) => {
                            if (!mapbox.getSource(s.id))
                                mapbox.addSource(s.id, {
                                    'type': 'geojson',
                                    'data': s.data
                                });
                            else
                                mapbox.getSource(s.id).setData(s.data);
                        })
                    }

                    $scope.mapLayers = (layers) => {
                        layers.forEach((l) => {
                            if (!mapbox.getLayer(l.id))
                                mapbox.addLayer(l);
                        })
                    }

                    mapbox.on('load', () => {
                        ArmoredService.GetLocations().then((response) => {
                            var locations = $scope.locations = response.data;
                            $scope.fitBounds();

                            function refresh() {
                                ArmoredService.GetSubmittedDepositBags().then((response) => {
                                    var submitted = $scope.submitted = response.data;
                                    mapDepositBags();
                                });

                                ArmoredService.GetCollectedDepositBags().then((response) => {
                                    var collected = $scope.collected = response.data;
                                    mapCollectionRoute();
                                })
                            }

                            ArmoredService.SignalR.on('connections', (connections) => {
                                var connections = $scope.connections = connections.filter(
                                    c => c.Position != null);
                                mapDrivers();
                            })

                            ArmoredService.SignalR.on('refresh', () => {
                                refresh();
                            })

                            refresh()
                        });
                    })
                }
            }
        })
</script>

</html>